{% extends 'mainapp/base.html' %} {% load static %} {% block headscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
<script src="https://unpkg.com/ml5@0.2.3/dist/ml5.min.js"></script>
<script>
  let videofeed;
  let posenet;
  let poses = [];
  let started = false,
    slouching = false;
  var audio = document.getElementById("audioElement");
  const d = new Date();
  let startTime,
    endTime,
    slouches = 0,
    date =
    d.getFullYear().toString() +
      "-" +
      d.getMonth().toString() +
      "-" +
      d.getDate().toString();

  function post_results() {
    $.post(
      '/session/', {
        date: date,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        startTime: startTime,
        endTime: endTime,
        slouches: slouches
      }, 
      function (data) {
        alert(data);
      }
    );
  }

  function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
      currentDate = Date.now();
    } while (currentDate - date < milliseconds);
  }

  function setup() {
    const canvas = createCanvas(550, 450);
    canvas.parent("video");

    videofeed = createCapture(VIDEO);
    videofeed.size(width, height);
    console.log("setup");

    posenet = ml5.poseNet(videofeed);

    posenet.on("pose", function (results) {
      poses = results;
    });

    videofeed.hide();
    noLoop();
  }

  function draw() {
    if (started) {
      image(videofeed, 0, 0, width, height);
      calEyes();
    }
  }

  function start() {
    select("#startstop").html("stop");
    document.getElementById("startstop").addEventListener("click", stop);
    started = true;
    startTime = d.getHours().toString() + ":" + d.getMinutes().toString();
    console.log(date, startTime);
    loop();
  }

  function stop() {
    select("#startstop").html("start");
    document.getElementById("startstop").addEventListener("click", start);
    removeblur();
    started = false;
    endTime = d.getHours().toString() + ":" + d.getMinutes().toString();
    noLoop();
    // $.ajax({
    //   type: "POST",
    //   url: "{$ url 'session' %}",
    //   data: {
    //     slouches: slouches,
    //     startTime: startTime,
    //     endTime: endTime,
    //     date: date,
    //   },
    //   dataType: "json",
    //   //success: successHandler,
    // });
    post_results();
  }

  var rightEye,
    leftEye,
    defaultRightEyePosition = [],
    defaultLeftEyePosition = [];

  function calEyes() {
    console.log(slouching);
    // sleep(2000);
    for (let i = 0; i < poses.length; i++) {
      let pose = poses[i].pose;
      // console.log(pose);
      // sleep(5000); //needs to be removed
      for (let j = 0; j < pose.keypoints.length; j++) {
        let keypoint = pose.keypoints[j];
        rightEye = pose.keypoints[2].position;
        leftEye = pose.keypoints[1].position;

        while (defaultRightEyePosition.length < 1) {
          defaultRightEyePosition.push(rightEye.y);
        }

        while (defaultLeftEyePosition.length < 1) {
          defaultLeftEyePosition.push(leftEye.y);
        }

        if (Math.abs(rightEye.y - defaultRightEyePosition[0]) > 30) {
          if (slouching == false) {
            slouches++;
            slouching = true;
          }
          blur();
        }
        if (Math.abs(rightEye.y - defaultRightEyePosition[0]) < 30) {
          slouching = false;
          removeblur();
        }
      }
    }
  }

  function blur() {
    document.body.style.filter = "blur(5px)";
    document.body.style.transition = "1s";
    var audio = document.getElementById("audioElement");
    // console.log("change");
    // audio.play();
  }

  function removeblur() {
    document.body.style.filter = "blur(0px)";
    var audio = document.getElementById("audioElement");

    // audio.pause();
  }
</script>
{% endblock headscripts %} {% block content %}
<style>
  * {
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto;
  }

  button {
    background-color: inherit;
    color: #333;
    border: none;
  }

  .spButton {
    opacity: 0.3;
  }

  .spButton:hover {
    opacity: 1;
  }

  .panel-quote {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    min-width: 500px;
    margin: auto;
    box-sizing: border-box;
    background-color: #fdfd96;
  }

  .social-share {
    text-align: center;
  }

  .social-share i {
    color: #333;
  }

  .quote-progress {
    width: 0;
    height: 3px;
    background-color: #333;
  }

  blockquote {
    padding: 30px;
    font-size: 1.4em;
  }

  .quote {
    font-family: "Crimson Text", serif;
    font-style: italic;
  }

  .author {
    font-size: 0.6em;
    font-weight: lighter;
    text-align: right;
  }

  /* Quote Navigation */
  .quote-nav {
    display: flex;
    align-items: stretch;
    width: 100%;
    padding-bottom: 30px;
  }

  .previous {
    margin: auto;
  }

  .next {
    margin: auto;
  }

  /* Media Queries */
  @media screen and (max-width: 460px) {
    .panel-quote {
      min-width: 100%;
    }

    blockquote {
      font-size: 1.1em;
    }
  }
</style>
<div class="content" style="margin-top: 100px">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <div class="row ml-4 mr-4">
      <h2 class="mt-4">Ready for the work???</h2>
      <h5>
        Hey {{ name }}! Make sure you're sitting upright, click on start session
        when you're ready! Good luck! :)
      </h5>
    </div>
  </div>
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between mt-5"
  >
    <div class="card" style="margin-right: 3em; margin-bottom: 2em">
      <div class="card-body">
        <div class="row">
          <div id="video" class="video-cont"></div>
        </div>
        <div class="row">
          <button
            class="btn btn-primary btn-l"
            onClick="start()"
            id="startstop"
          >
            Click here to Start!
          </button>
        </div>
        <div class="row mt-2">
          <button class="btn btn-primary btn-l" onClick="blur()">
            Toggle Blur! (For Representation Purpose Only)
          </button>
        </div>
      </div>
    </div>
    <div class="card" style="margin-right: 3em; margin-bottom: 2em">
      <div class="card-body">
        <div class="container">
          <div class="panel-quote">
            <div class="quote-progress"></div>
            <div>
              <blockquote>
                <div class="social-share">
                  <a
                    href="#"
                    id="quote-tweet"
                    title="Tweet this quote"
                    target="_blank"
                  >
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </div>
                <p class="quote"></p>
                <p class="author">- <span class="author-name"></span></p>
              </blockquote>
              <div class="quote-nav">
                <button class="previous spButton">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </button>
                <button class="random spButton">
                  <i class="fa fa-random" aria-hidden="true"></i>
                </button>
                <button class="next spButton">
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block extrascripts %}
<script>
  var listQuotes = [
    {
      quote:
        "Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.",
      author: "Buddha",
    },
    {
      quote:
        "Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.",
      author: "Albert Einstein",
    },
    {
      quote:
        "Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.",
      author: "Bernard M. Baruch",
    },
    {
      quote: "A room without books is like a body without a soul.",
      author: "Marcus Tullius Cicero",
    },
    {
      quote: "You only live once, but if you do it right, once is enough.",
      author: "Mae West",
    },
    {
      quote: "Be the change that you wish to see in the world.",
      author: "Mahatma Gandhi",
    },
    {
      quote:
        "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.",
      author: "J.K. Rowling, Harry Potter and the Goblet of Fire",
    },
    {
      quote: "No one can make you feel inferior without your consent.",
      author: "Eleanor Roosevelt, This is My Story",
    },
    {
      quote: "If you tell the truth, you don't have to remember anything.",
      author: "Mark Twain",
    },
    {
      quote:
        "You've gotta dance like there's nobody watching, Love like you'll never be hurt, Sing like there's nobody listening, And live like it's heaven on earth.",
      author: "William W. Purkey",
    },
    {
      quote: "Be yourself; everyone else is already taken.",
      author: "Oscar Wilde",
    },
  ];

  var currentQuote = 0;
  var progress = setInterval(timerProgress, 40);
  var progressWidth = 0;

  // var timeDisplayed = 10000;
  // var timer = setInterval(changeQuote, timeDisplayed);

  function timerProgress() {
    $(".quote-progress").width(progressWidth + "%");
    if (progressWidth < 100) {
      progressWidth += 0.1;
    } else {
      changeQuote();
      progressWidth = 0;
    }
  }

  function setQuote() {
    $(".quote").html('"' + listQuotes[currentQuote].quote + '"');
    $(".author-name").html(listQuotes[currentQuote].author);
    tweetQuote();
  }

  function getRandomQuote() {
    currentQuote = Math.round(Math.random() * listQuotes.length);
    setQuote();
  }

  function changeQuote() {
    // $("blockquote").fadeToggle( "slow", "linear" );
    if (currentQuote < listQuotes.length - 1) {
      currentQuote++;
    } else {
      currentQuote = 0;
    }
    setQuote();
  }

  $(".previous").click(function () {
    if (currentQuote > 0) {
      currentQuote--;
    } else {
      currentQuote = listQuotes.length - 1;
    }
    setQuote();
    progressWidth = 0;
  });

  $(".next").click(function () {
    changeQuote();
    progressWidth = 0;
  });

  $(".random").click(function () {
    getRandomQuote();
    progressWidth = 0;
  });

  /* Twitter API */
  window.twttr = (function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  })(document, "script", "twitter-wjs");

  function tweetQuote() {
    $("#quote-tweet").attr(
      "href",
      "https://twitter.com/intent/tweet?hashtags=quote,inspiration&text=" +
        encodeURIComponent(
          '"' +
            listQuotes[currentQuote].quote +
            '" ' +
            listQuotes[currentQuote].author
        )
    );
  }

  setQuote();
</script>
{% endblock extrascripts %}
